/* scrollbar */
@import "simplebar-react/dist/simplebar.min.css";

@media print {
  body {
    width: 21.6cm;
    height: 27.9cm;
    margin: 30mm 45mm 30mm 45mm;
    /* change the margins as you want them to be. */
  }
}
